@inherits LayoutComponentBase

<PageTitle>ShowaWeb6</PageTitle>

<MudLayout>
    <MudAppBar Color="Color.Primary" Elevation="1" Dense="true">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />        
    </MudAppBar>


    <MudDrawer @bind-Open="@open" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">웹툴즈</MudText>
        </MudDrawerHeader>
        <div class="sidebar">
            <NavMenu />
        </div>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-16">
        <MudContainer Class="mt-6">
            <div class="page">
                <main>
                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </div>
        </MudContainer>
    </MudMainContent>
</MudLayout>


<MudThemeProvider Theme="MyCustomTheme" />

@code{

    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    }

    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = Colors.Blue.Default,
            Secondary = Colors.Green.Accent4,
            AppbarBackground = Colors.Red.Default,
        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "250px",
            DrawerWidthRight = "500px"
        }
    };
}

